/* 全体のスタイル */
body {
  font-family: sans-serif;
  padding: 0;
  margin-right: auto;
  margin-left : auto;
  background-color: #DAC9A6;
}

.h1-container {
  display: flex;
  align-items: center;
}

.side-image {
  width: 80px;
  height: 80px;
}
