/* 全体のスタイル */
body {
  font-family: sans-serif;
  padding: 0;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  background-color: #DAC9A6;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.side-image {
  width: 100px;
  height: 100px;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.top-line {
  position: fixed;
  top: 100px;
}

.bottom-line {
  position: fixed;
  bottom: 100px;
}

.content {
  margin-top: 20px; /* 上部のラインと重ならないように調整 */
  margin-bottom: 20px; /* 下部のラインと重ならないように調整 */
}
